* {
  box-sizing: border-box;
}
body {
  margin: auto;
  padding: 0 15%;
}
header {
  display: flex;
  flex-direction: column;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 15px 0px;
}
#logo {
  padding: 5px;
  width: 42px;
  height: 45px;
}
#logoBrand {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
figure {
  width: 15rem;
}
h2 {
  font-family: "yellowtail", cursive;
  font-size: 1.9rem;
  font-weight: bold;
  font-stretch: expanded;
}
figcaption {
  font-size: xx-small;
  font-family: arial, helvetica, sans-serif;
  font-stretch: condensed;
}
.borderLine {
  height: 16px;
  width: 100%;
  background-image: url("../assets/hr-img.png");
  background-repeat: repeat;
}
#title {
  display: flex;
  flex-direction: column;
}
#title article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding-left: 5px;
}
nav ul img {
  padding-top: 10px;
  padding-right: 2px;
}
main {
  padding-top: 30px;
}
h1 {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
#subtitle {
  color:#aaa;
  font-family:'Courier New', Courier, monospace;
  font-weight: 100;
}
#mainImage {
  width: 100%;
  margin-top: 1.3rem;
}
.para {
  text-indent: 3%;
  padding: 10px 0;
  color: rgb(82, 76, 48)
}
.para:last-child {
  padding-bottom: 25px;
}
#paperList {
  background-image: url("../assets/list-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 7%;
  padding-right: 20%;
  font-family: "comic sans ms", "comic sans", cursive;
  justify-content: space-between;
  color: rgb(82, 76, 48);
  margin-bottom: 30px;
  font-size: large;
}
#paperList li{
  padding-bottom: 0.5rem;
}
.checkbox {
  color: #444;
  background-color: #e4cc4400;
}
label input:checked {
  text-decoration: line-through;
}
#bio {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  color:#444;
}
#bio article {
  padding: 0 15px ;
}
h3 {
  font-weight: bold;
  padding-bottom: 10px;
}
#shareRecipe {
  background-color: rgb(188,112,88);
  color: white;
  width: 240px;
  height: 50px;
  font-family: "Oswald", sans-serif;
  font-stretch: extra-expanded;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px ;
  margin-left: 15px;
}
#footerlogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
div {
  border: 0.5px solid #eee;
  height: 0.5px;
  width: 49%;
  display: flex;
  align-content: center;
}
#small-logo {
  padding-left: 1%;
  padding-right: 1%;
}
footer {
  display: flex;
  flex-direction: column;
}
footer section {
  text-align: center;
}
#footertext {
  padding: 2rem;
  color: #aaa;
}
#footertext p {
  padding: 0.2rem;
}
