* {
  box-sizing: border-box;
}
body {
  margin: auto;
  padding: 0 10%;
}
header {
  display: flex;
}
h2 {
  font-family: "yellowtail", cursive;
  font-size: 3rem;
  font-weight: bold;
}
figcaption {
  font-family: monospace;
}
.borderLine {
  height: 16px;
  width: 100%;
  background-image: url("../assets/hr-img.png");
  background-repeat: repeat;
}
#title {
  display: flex;
  flex-direction: column;
}
#title article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h1 {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
#mainImage {
  width: 100%;
}
#paperList {
  background-image: url("../assets/list-bg.png");
display: flex;
padding: 7%;
font-family: "comic sans ms", "comic sans", cursive;
justify-content: space-between;

}